<!-- <ng-template #deleteModel let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Item Deletion</h4>
        <button type="button" class="close" aria-describedy="modal-title" (click)="d('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you wand to delete <span class="text-primary">this item</span>?</strong></p>
        <p>
            All information associated to this item will be permanently deleted
            <span class="text-danger">This operation can not be undone.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="c('Ok click')">Ok</button>
    </div>
</ng-template> -->