<div class="row">
    <div class="col-md-12">
      <h4 class="py-1">List of posts</h4>
    </div>
  </div>
  

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
  
        <tr>
          <th>ID</th>
          <th>Posts</th>
          <th>Description</th>
          <th class="text-center">Actions</th>
        </tr>
  
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; let i = index">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{ (post.description.length > 50) ? (post.description | slice:0:50) + '...' : post.description}}</td>
            <td style="width: 150px;">
              <a href="javascript:;" class="btn btn-default text-primary" [routerLink]="['show', post.id]">
                <i class="fa fa-eye"></i>
              </a>
              <a href="#" class="btn btn-default text-success" [routerLink]="['edit', post.id]">
                <i class="fa fa-edit"></i>
              </a>
              <a href="javascript:;" class="btn btn-default text-danger" (click)="deletePost(deleteModel, post.id)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>


  <ng-template #deleteModel let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Item Deletion</h4>
      <button type="button" class="close" aria-describedy="modal-title" (click)="d('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you wand to delete <span class="text-primary">this item</span>?</strong></p>
      <p>
        All information associated to this item will be permanently deleted
        <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="c('Ok click')">Ok</button>
    </div>
  </ng-template>